    /*
    * Prefixed by https://autoprefixer.github.io
    * PostCSS: v8.4.14,
    * Autoprefixer: v10.4.7
    * Browsers: last 4 version
    */

    body {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'Lexend Deca';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .main {
        background-image: -o-radial-gradient( 10% 20%,  circle farthest-corner,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        margin: 0;
    }

    .container {
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid white;
        width:  1000px;
        height: 550px;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        backdrop-filter: blur(10px);

    }

    .content {
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    label {
        color: white;
        font-size: 1em;    
        display: block;
    }

    input {
        width: 500px;
        border-radius: 20px;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        padding: 10px;
        margin-top: 10px;
        font-family: 'Lexend Deca';
    }

    input::placeholder {
        color: white;
        font-family: 'Lexend Deca';
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    h1 {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 2em;
        color: white;
        margin-top: 0;
        margin-bottom: 1px;
    }

    #bin {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 280px;
        padding: 0;
        margin: 5px;
    }


    .bins {
        width: 40px;
        height: 100%;
        margin: auto 10px;
        border: 1px solid white;
        padding: 0;
        box-sizing: border-box;
    }

    .button-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    button {
        width: 120px;
        margin: 10px;
        font-size: 0.7em;
        font-family: 'Lexend Deca';
        text-align: center;
        height: 30px;
        font-weight: 400;
        background-color: white;
        border: 1px solid black;
        border-radius: 30px;
    }

    button:hover {
        cursor: pointer;
        background: transparent;
        color: white;
        border: 1px solid white;
    }

    .item {
        font-size: 0.7em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: white;
        background-color: blueviolet;
        border: 1px solid white;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @media (min-width: 320px) and (max-width: 375px) {
        .container {
            width: 300px;
            height: 420px;
        }

        .content {
            margin-left: 0;
        }
        .title {
            margin-top: 10px;
            margin-bottom: 1px;
            margin-left: 18px;
            font-size: 1.2em;
        }

        label {
            margin-left: 18px;
            font-size: 0.5em;
        }

        input {
            margin-left: 15px;
            height: 5px;
            width: 240px;
            font-size: 0.6em;
        }

        .bins {
            width: 30px;
            font-size: 1em;
        }

        button {
            height: 22px;
            width: 45px;
            margin: 10px 2px;
            text-align: center;
            font-size: 0.4em;
        }

        

    }

    @media (min-width: 375px) and (max-width: 450px) {
        .main {
            margin: 0;
        }

        .container {
            width: 350px;
            height: 450px;
        }

        .content {
            margin-left: 0;
        }
        .title {
            margin-top: 10px;
            margin-bottom: 1px;
            margin-left: 25px;
            font-size: 1.5em;
        }

        label {
            margin-left: 25px;
            font-size: 0.6em;
        }

        input {
            margin-left: 25px;
            height: 8px;
            width: 280px;
            font-size: 0.75em;
            font-size: 'Lexend Deca';
        }

        .bins {
            width: 20px;
            font-size: 1em;
        }

        button {
            margin: 10px 2px;
            height: 25px;
            width: 50px;
            padding-bottom: 3px;
            text-align: center;
            font-size: 0.4em;
        }

    }

    @media (min-width: 450px) and (max-width: 660px) {
        .main {
            margin: 0;
        }

        .container {
            width: 420px;
            height: 450px;
        }

        .content {
            margin-left: 0;
        }
        .title {
            margin-top: 10px;
            margin-bottom: 1px;
            margin-left: 25px;
            font-size: 1.6em;
        }

        label {
            margin-left: 25px;
            font-size: 0.7em;
        }

        input {
            margin-left: 25px;
            height: 12px;
            width: 350px;
            font-size: 0.9em;
            font-size: 'Lexend Deca';
        }

        .bins {
            width: 30px;
            font-size: 1em;
        }

        button {
            margin: 10px 2px;
            height: 25px;
            width: 60px;
            padding-bottom: 2px;
            text-align: center;
            font-size: 0.6em;
        }

    }

    @media (min-width: 660px) and (max-width: 920px) {
        .main {
            margin: 0;
        }

        .container {
            width: 600px;
            height: 500px;
        }

        .content {
            margin-left: 0;
        }
        .title {
            margin-top: 10px;
            margin-bottom: 1px;
            margin-left: 25px;
            font-size: 1.6em;
        }

        label {
            margin-left: 25px;
            font-size: 0.7em;
        }

        input {
            margin-left: 25px;
            height: 12px;
            width: 350px;
            font-size: 0.9em;
            font-size: 'Lexend Deca';
        }

        .bins {
            width: 30px;
            font-size: 1em;
        }

        button {
            margin: 10px 5px;
            height: 25px;
            width: 80px;
            padding-bottom: 2px;
            text-align: center;
            font-size: 0.6em;
        }

    }
