/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: -o-radial-gradient( 10% 20%,  circle farthest-corner,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
}

.header {
    width: 100vw;
    height: 8vh;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    font-family: 'Figtree', serif;
}

.nav a {
    text-decoration: none;
    color: #ECECEC;
}

a:hover {
    cursor: pointer;
}

.nav_logo {
    font-weight: 200;
}

.nav_list {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav ul {
    list-style: none;
}

.main {
    margin: 3vh 5vw 3vh;
    height: 78vh;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
}

.main .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #ECECEC;
    background: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.main * {
    font-family: 'Lexend Deca';
    font-size: 0.8em;
    color: #FFFFFF;
    text-align: left;
}

.container h3 {
    text-align: center;
}

.form-content  {
    margin-top: 3em;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-content input {
    font-size: 0.95em;
    padding-left: 1em;
    background: transparent;
    width: 100px;
    margin: 0.5em;
    height: 2.5em;
    border-radius: 20px;
    border: 1px solid #FFFFFF;   
}

.form-content optgroup {
    background-color: rgba(100,43,115,1);
}

.form-content select:hover {
    cursor: pointer;
}

.form-content option {
    font-size: 1.5em;
}

.form-content option:hover {
    cursor: pointer;
}

.form-content input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.form-content input::-moz-placeholder {
    color: #FFFFFF;
}

.form-content input:-ms-input-placeholder {
    color: #FFFFFF;
}

.form-content input::-ms-input-placeholder {
    color: #FFFFFF;
}

.form-content input::placeholder {
    color: #FFFFFF;
}

.button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 1em 2em;
}

.form-content button {
    margin-top: 1em;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    text-align: center;
    background-color: #FFFFFF;
    color: #303548;
    font-weight: 700;
    height: 2.5em;
    width: 100%;
}

.form-content button:hover {
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
}


.footer {
    width: 100vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-family: 'Figtree';
}

.footer a, .footer p {
    color: #ECECEC;
    text-decoration: none;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 400px) {    
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        margin-top: 1px;
        font-size: 0.8em;
    }

    .nav_list {
        width: 70vw;
        font-size: 0.7em;
    }

    .footer {
        font-size: 0.6em;
    }

    .main .container {
        height: 260px;
        width: 260px;
    }

    .form-content {
        margin-top: 2em;
        width: 100%;
    }

    .form-content input {
        width: 190px;
        margin: 0.9em;
    }

    .form-content button {
        width: 130px;
    }
}

@media (min-width: 401px) and (max-width: 475px)  {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        font-size: 1em;
    }

    .nav_list {
        width: 65vw;
        font-size: 0.8em;
    }

    .footer {
        font-size: 0.8em;
    }

    .main .container {
        height: 300px;
        width: 300px;
    }

    .main .container h3 {
        font-size: 1.1em;
    }

    .form-content {
        margin-top: 2em;
        width: 100%;
    }

    .form-content input {
        width: 240px;
        font-size: 1.2em;
        margin: 0.7em;
    }

    .form-content button {
        width: 180px;
        font-size: 1.2em;
    }

}

@media (min-width: 476px) and (max-width: 599px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        font-size: 1em;
    }

    .nav_list {
        width: 65vw;
        font-size: 1em;
    }

    .main .container {
        height: 350px;
        width: 350px;
    }

    .main .container h3 {
        font-size: 1.3em;
    }

    .form-content {
        margin-top: 2em;
        width: 100%;
    }

    .form-content input {
        width: 260px;
        font-size: 1.3em;
        margin: 0.9em;
    }

    .form-content button {
        width: 210px;
        font-size: 1.3em;
    }
}


@media (min-width: 600px) and (max-width: 768px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        font-size: 1em;
    }

    .nav_list {
        width: 50vw;
    }

    .main .container {
        height: 350px;
        width: 400px;
    }
    
    .main .container h3 {
        font-size: 1.5em;
    }

    .form-content {
        margin-top: 2em;
        width: 100%;
    }

    .form-content input {
        width: 300px;
        font-size: 1.5em;
        margin: 0.9em;
    }

    .form-content button {
        width: 250px;
        font-size: 1.3em;
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    .nav {
        padding: 7px 40px 7px;
    }

    .nav_logo {
        font-size: 1.2em;
    }

    .nav_list {
        margin-right: -40px;
        width: 55vw;
        font-size: 1.2em;
    }

    .main .container {
        height: 350px;
        width: 350px;
    }
    
    .main .container {
        height: 350px;
        width: 400px;
    }
    
    .main .container h3 {
        font-size: 1.5em;
    }

    .form-content {
        margin-top: 2em;
        width: 100%;
    }

    .form-content input {
        width: 300px;
        font-size: 1.5em;
        margin: 0.7em;
    }

    .form-content button {
        width: 250px;
        font-size: 1.3em;
    }
}

@media (min-width: 921px) and (max-width: 1200px) {
    .nav {
        padding: 7px 40px 7px;
    }

    .nav_logo {
        font-size: 1.2em;
    }

    .nav_list {
        margin-right: -40px;
        width: 55vw;
        font-size: 1.2em;
    }

    .main .container {
        height: 350px;
        width: 350px;
    }
    
    .main .container {
        height: 350px;
        width: 400px;
    }
    
    .main .container h3 {
        font-size: 1.5em;
    }

    .form-content {
        margin-top: 2em;
        width: 100%;
    }

    .form-content input {
        width: 300px;
        font-size: 1.5em;
        margin: 0.7em;
    }

    .form-content button {
        width: 250px;
        font-size: 1.3em;
    }
    

}

@media (min-width: 1201px) and (max-width: 1600px) {
    .nav {
        padding: 12px 40px 10px;
    }

    .nav_logo {
        font-size: 1.2em;
    }

    .nav_list {
        margin-right: -40px;
        width: 55vw;
        font-size: 1.2em;
    }

    .main .container {
        height: 400px;
        width: 500px;
    }

    .main .container h3 {
        font-size: 1.8em;
    }

    .form-content {
        width: 100%;
    }

    .form-content input {
        height: 3em;
        width: 200%;
        font-size: 1.5em;
        margin: 0.7em;
    }

    .form-content button {
        font-size: 1.5em;
        width: 110%;
    }

}

.form-content .error {
    border: 1px solid red;
}

