@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-image: -o-radial-gradient( 10% 20%,  circle farthest-corner,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
}

.header {
    width: 100vw;
    height: 8vh;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    font-family: 'Figtree', serif;
}

.nav a {
    text-decoration: none;
    color: #ECECEC;
}

a:hover {
    cursor: pointer;
}

.nav_logo {
    font-weight: 200;
}

.nav_list {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav ul {
    list-style: none;
}

.main {
    margin: 3vh 5vw 3vh;
    height: 78vh;
    width: 90vw;
    background: #FFF;
    border-radius: 20px;
    padding: 1.5em;
}

.main * {
    margin: 0em 0.2em 0.5em;
    font-family: 'Lexend Deca';
    text-align: justify;
    size: 0.8em;
    color: #7842d7;
}

.main p {
    color: #303548;
}

.footer {
    width: 100vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-family: 'Figtree';
}

.footer a, .footer p {
    color: #ECECEC;
    text-decoration: none;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 400px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        margin-top: 1px;
        font-size: 0.8em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 0.7em;
    }

    .footer {
        font-size: 0.6em;
    }

    .main * {
        font-size: 0.65em;
    }

    .main p {
        font-size: 0.51em;
    }
}

@media (min-width: 401px) and (max-width: 475px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        font-size: 1em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 0.8em;
    }

    .main * {
        font-size: 0.8em;
    }

    .main p {
        font-size: 0.56em;
    }

    .footer {
        font-size: 0.8em;
    }

}

@media (min-width: 476px) and (max-width: 599px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        font-size: 1em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 1em;
    }

    .main * {
        font-size: 0.9em;
    }

    .main p {
        font-size: 0.595em;
    }
}


@media (min-width: 600px) and (max-width: 768px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        font-size: 1em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
    }

    .main * {
        font-size: 0.9em;
    }

    .main p {
        font-size: 0.65em;
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    .nav {
        padding: 7px 40px 7px;
    }

    .nav_logo {
        font-size: 1.2em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 1.2em;
    }

    
    .main * {
        font-size: 1em;
    }

    .main p {
        font-size: 0.85em;
    }
}

@media (min-width: 921px) and (max-width: 1200px) {
    .nav {
        padding: 7px 40px 7px;
    }

    .nav_logo {
        font-size: 1.2em;
    }

    .nav_list {
        width: 15vw;
        justify-content: center;
        font-size: 1.2em;
    }

    
    .main * {
        font-size: 1em;
    }

    .main p {
        font-size: 0.92em;
    }
}

@media (min-width: 1201px) and (max-width: 2000px) {
    .nav {
        padding: 12px 40px 10px;
    }

    .nav_logo {
        font-size: 1.2em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 1.2em;
    }

    
    .main * {
        font-size: 1em;
    }

    .main p {
        font-size: 1.05em;
    }
}

@media (min-width: 2001px) and (max-width: 5000px) {
    .nav {
        padding: 12px 40px 10px;
    }

    .nav_logo {
        font-size: 1.4em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 1.4em;
    }

    .main * {
        font-size: 1.4em;
    }

    .main p {
        font-size: 1.5em;
    }
}

@media (min-width:767px) and (max-height: 650px) {
    .main p {
        font-size: 0.75em;
    }

    .main * {
        font-size: 0.8em;
    }
    
}


@media (min-width:1200px) and (max-height: 650px) {
    .main p {
        font-size: 0.95em;
    }

    .main * {
        font-size: 1em;
    }
    
}
