@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-image: -o-radial-gradient( 10% 20%,  circle farthest-corner,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
}

.header {
    width: 100vw;
    height: 8vh;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    font-family: 'Figtree', serif;
}

.nav a {
    text-decoration: none;
    color: #ECECEC;
}

a:hover {
    cursor: pointer;
}

.nav_logo {
    font-weight: 200;
}

.nav_list {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav ul {
    list-style: none;
}

.main {
    margin: 3vh 5vw 3vh;
    height: 78vh;
    width: 90vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 500px;
    width: 100%;
    background-color: #fff;
    padding: 1.5em;
    border-radius: 10px;
}


.main * {
    margin: 2.5px 0;
    font-family: 'Lexend Deca';
    text-align: justify;
    size: 0.8em;
    color: #7842d7;
}

.main select, .main option {
    color: #303548;
}

select {
    width: 250px;
    height: 25px;
    padding-left: 5px;
    border-radius: 15px;
}

p {
    font-size: 1em;
    font-weight: 500;
}

.panel {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}

#bin {
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.bins {
    border: 0.1px solid black;
    width: 120px;
    height: 350px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;

}

.item {
    border: 0.1px solid black;
    margin: 0px;
    padding: 0;
    width: 100%;
    background-color: #7842d7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-sizing: border-box;
}

.footer {
    width: 100vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-family: 'Figtree';
}

.footer a, .footer p {
    color: #ECECEC;
    text-decoration: none;
    text-align: center;
}


@media (min-width: 320px) and (max-width: 400px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        margin-top: 1px;
        font-size: 0.8em;
    }

    .nav_list {
        width: 40vw;
        font-size: 0.7em;
    }

    .footer {
        font-size: 0.6em;
    }

    .main * {
        font-size: 0.9em;
    }

    .main p {
        font-size: 0.9em;
    }

    .bins {
        width: 80px;
        font-size: 0.6em;
    }
}

@media (min-width: 401px) and (max-width: 475px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        font-size: 1em;
    }

    .nav_list {
        width: 45vw;
        font-size: 0.8em;
    }

    .main * {
        font-size: 0.9em;
    }

    .main p {
        font-size: 0.9em;
    }

    .footer {
        font-size: 0.8em;
    }
    .bins {
        width: 80px;
        font-size: 0.7em;
    }
}

@media (min-width: 476px) and (max-width: 599px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        font-size: 1em;
    }

    .nav_list {
        width: 45vw;
        font-size: 1em;
    }

    .main * {
        font-size: 0.9em;
    }

    .main p {
        font-size: 0.9em;
    }
    .bins {
        width: 80px;
        font-size: 0.7em;
    }
}


@media (min-width: 600px) and (max-width: 768px) {
    .nav {
        padding: 12px 25px 12px;
    }
    
    .nav_logo {
        font-size: 1em;
    }

    .nav_list {
        width: 45vw;
    }

    .main * {
        font-size: 0.9em;
    }

    .main p {
        font-size: 0.9em;
    }
    .bins {
        width: 80px;
        font-size: 0.7em;
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    .nav {
        padding: 7px 40px 7px;
    }

    .nav_logo {
        font-size: 1.2em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 1.2em;
    }

    
    .main * {
        font-size: 1em;
    }

    .main p {
        font-size: 1em;
    }
    .bins {
        width: 105px;
        font-size: 0.6em;
        text-align: center;
    }
}

@media (min-width: 921px) and (max-width: 1200px) {
    .nav {
        padding: 7px 40px 7px;
    }

    .nav_logo {
        font-size: 1.2em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 1.2em;
    }

    
    .main * {
        font-size: 1em;
    }

    .main p {
        font-size: 0.92em;
    }

    
    .bins {
        width: 105px;
        font-size: 0.6em;
        text-align: center;
    }
}

@media (min-width: 1201px) and (max-width: 2000px) {
    .nav {
        padding: 12px 40px 10px;
    }

    .nav_logo {
        font-size: 1.2em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 1.2em;
    }
    
    .main {
        margin: 3vh auto;
        width: 1000px;
    }

    .main * {
        font-size: 1em;
    }

    .main p {
        font-size: 1.05em;
    }

    .bins {
        width: 130px;
        font-size: 0.7em;
    }
}

@media (min-width: 2001px) and (max-width: 5000px) {
    .nav {
        padding: 12px 40px 10px;
    }

    .nav_logo {
        font-size: 1.4em;
    }

    .nav_list {
        width: 20vw;
        justify-content: center;
        font-size: 1.4em;
    }

    .main {
        margin: 3vh auto;
        width: 1500px;
    }

    .main select {
        margin: 10px 0;
        width: 350px;
        height: 35px;
    }

    .panel {
        height: 470px;
    }

    .content {
        height: 700px;
    }

    .main * {
        font-size: 1.2em;
    }

    .main option {
        font-size: 0.8em;
    }

    .main p {
        font-size: 1.5em;
    }

    .bins {
        width: 160px;
        font-size: 0.7em;
    }
}

@media (max-height: 600px) {
    .content {
        height: 450px;
    }

    .panel {
        height: 300px;
    }
}
